<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>E04-000.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,414},{62,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,65}}</string>
                <key>sourceSize</key>
                <string>{62,65}</string>
            </dict>
            <key>E04-001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{88,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,95}}</string>
                <key>sourceSize</key>
                <string>{88,95}</string>
            </dict>
            <key>E04-002.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,139},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>E04-003.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,253},{90,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>E04-004.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,416},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>E04-005.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,416},{82,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,78}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>E04-006.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,304},{68,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,71}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>E04-008.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,272},{89,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,109}}</string>
                <key>sourceSize</key>
                <string>{89,109}</string>
            </dict>
            <key>E04-009.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,122},{85,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,115}}</string>
                <key>sourceSize</key>
                <string>{85,115}</string>
            </dict>
            <key>E04-010.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,303},{85,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,111}}</string>
                <key>sourceSize</key>
                <string>{85,111}</string>
            </dict>
            <key>E04-011.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,414},{76,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,64}}</string>
                <key>sourceSize</key>
                <string>{76,64}</string>
            </dict>
            <key>E04-012.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,239},{74,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,63}}</string>
                <key>sourceSize</key>
                <string>{74,63}</string>
            </dict>
            <key>E04-013.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,377},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>E04-014.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,377},{33,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,35}}</string>
                <key>sourceSize</key>
                <string>{33,35}</string>
            </dict>
            <key>E04-015.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,239},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>E04-016.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,140},{36,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,161}}</string>
                <key>sourceSize</key>
                <string>{36,161}</string>
            </dict>
            <key>E04-017.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,383},{33,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,121}}</string>
                <key>sourceSize</key>
                <string>{33,121}</string>
            </dict>
            <key>E04-018.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,304},{29,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,81}}</string>
                <key>sourceSize</key>
                <string>{29,81}</string>
            </dict>
            <key>E04-019.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{128,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,135}}</string>
                <key>sourceSize</key>
                <string>{128,135}</string>
            </dict>
            <key>E04-020.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{131,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,135}}</string>
                <key>sourceSize</key>
                <string>{131,135}</string>
            </dict>
            <key>E04-021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,136}}</string>
                <key>sourceSize</key>
                <string>{132,136}</string>
            </dict>
            <key>E04-022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{131,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,137}}</string>
                <key>sourceSize</key>
                <string>{131,137}</string>
            </dict>
            <key>E04-023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{130,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,134}}</string>
                <key>sourceSize</key>
                <string>{130,134}</string>
            </dict>
            <key>E04-024.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,139},{127,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,131}}</string>
                <key>sourceSize</key>
                <string>{127,131}</string>
            </dict>
            <key>E04-025.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{111,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,118}}</string>
                <key>sourceSize</key>
                <string>{111,118}</string>
            </dict>
            <key>E04-058.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,347},{95,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,65}}</string>
                <key>sourceSize</key>
                <string>{95,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>E04_2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97808f9f5fba6c2fa59c2bce859ee9d5$</string>
            <key>textureFileName</key>
            <string>E04_2.png</string>
        </dict>
    </dict>
</plist>
