<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>E05-070.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,393},{45,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,43}}</string>
                <key>sourceSize</key>
                <string>{45,43}</string>
            </dict>
            <key>E05-071.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{77,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,104}}</string>
                <key>sourceSize</key>
                <string>{77,104}</string>
            </dict>
            <key>E05-072.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,266},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>E05-073.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,420},{73,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,60}}</string>
                <key>sourceSize</key>
                <string>{73,60}</string>
            </dict>
            <key>E05-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,393},{46,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>E05-101.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{116,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,103}}</string>
                <key>sourceSize</key>
                <string>{116,103}</string>
            </dict>
            <key>E05-102.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,107},{107,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,78}}</string>
                <key>sourceSize</key>
                <string>{107,78}</string>
            </dict>
            <key>E05-103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{101,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,76}}</string>
                <key>sourceSize</key>
                <string>{101,76}</string>
            </dict>
            <key>E05-115.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,438},{45,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,43}}</string>
                <key>sourceSize</key>
                <string>{45,43}</string>
            </dict>
            <key>E05-116.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,187},{77,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,104}}</string>
                <key>sourceSize</key>
                <string>{77,104}</string>
            </dict>
            <key>E05-117.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,266},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>E05-118.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,345},{73,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,60}}</string>
                <key>sourceSize</key>
                <string>{73,60}</string>
            </dict>
            <key>E05-130.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,345},{46,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>E05-131.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,103}}</string>
                <key>sourceSize</key>
                <string>{116,103}</string>
            </dict>
            <key>E05-132.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{107,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,78}}</string>
                <key>sourceSize</key>
                <string>{107,78}</string>
            </dict>
            <key>E05-133.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{101,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,76}}</string>
                <key>sourceSize</key>
                <string>{101,76}</string>
            </dict>
            <key>E05-145.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,345},{66,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,46}}</string>
                <key>sourceSize</key>
                <string>{66,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>E05_2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48a47d2f816c3d943ac8cb274bcd40a5$</string>
            <key>textureFileName</key>
            <string>E05_2.png</string>
        </dict>
    </dict>
</plist>
