<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HU-000.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,146},{108,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,107}}</string>
                <key>sourceSize</key>
                <string>{108,107}</string>
            </dict>
            <key>HU-001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{131,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,117}}</string>
                <key>sourceSize</key>
                <string>{131,117}</string>
            </dict>
            <key>HU-002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{140,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,139}}</string>
                <key>sourceSize</key>
                <string>{140,139}</string>
            </dict>
            <key>HU-004.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{107,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,74}}</string>
                <key>sourceSize</key>
                <string>{107,74}</string>
            </dict>
            <key>hu-003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,142}}</string>
                <key>sourceSize</key>
                <string>{157,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HU.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44a4c73e962b7d8ec4e203459eed8393$</string>
            <key>textureFileName</key>
            <string>HU.png</string>
        </dict>
    </dict>
</plist>
