<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JH-001.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,856},{281,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,331}}</string>
                <key>sourceSize</key>
                <string>{281,331}</string>
            </dict>
            <key>JH-002.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{180,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,34}}</string>
                <key>sourceSize</key>
                <string>{180,34}</string>
            </dict>
            <key>JH-003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{480,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,425}}</string>
                <key>sourceSize</key>
                <string>{480,425}</string>
            </dict>
            <key>JH-004.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,429},{480,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,425}}</string>
                <key>sourceSize</key>
                <string>{480,425}</string>
            </dict>
            <key>JH-005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{480,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,425}}</string>
                <key>sourceSize</key>
                <string>{480,425}</string>
            </dict>
            <key>JH-006.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{480,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,425}}</string>
                <key>sourceSize</key>
                <string>{480,425}</string>
            </dict>
            <key>JH-007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,425}}</string>
                <key>sourceSize</key>
                <string>{480,425}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>JH.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44f863e188c255f878c2714a8bd578ba$</string>
            <key>textureFileName</key>
            <string>JH.png</string>
        </dict>
    </dict>
</plist>
