<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Luolei-000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,909},{93,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,399}}</string>
                <key>sourceSize</key>
                <string>{93,399}</string>
            </dict>
            <key>Luolei-001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,452}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,452}}</string>
                <key>sourceSize</key>
                <string>{185,452}</string>
            </dict>
            <key>Luolei-002.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{206,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,448}}</string>
                <key>sourceSize</key>
                <string>{206,448}</string>
            </dict>
            <key>Luolei-003.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,452},{213,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,446}}</string>
                <key>sourceSize</key>
                <string>{213,446}</string>
            </dict>
            <key>Luolei-004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{223,451}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,451}}</string>
                <key>sourceSize</key>
                <string>{223,451}</string>
            </dict>
            <key>Luolei-005.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,448},{222,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,444}}</string>
                <key>sourceSize</key>
                <string>{222,444}</string>
            </dict>
            <key>Luolei-006.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,2},{233,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,444}}</string>
                <key>sourceSize</key>
                <string>{233,444}</string>
            </dict>
            <key>Luolei-007.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{241,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,434}}</string>
                <key>sourceSize</key>
                <string>{241,434}</string>
            </dict>
            <key>Luolei-008.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,438},{202,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,256}}</string>
                <key>sourceSize</key>
                <string>{202,256}</string>
            </dict>
            <key>Luolei-009.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,900},{202,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,55}}</string>
                <key>sourceSize</key>
                <string>{202,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>luolei.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ae6b6abbe5419fdc6c0da88982f2571$</string>
            <key>textureFileName</key>
            <string>luolei.png</string>
        </dict>
    </dict>
</plist>
