<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map4-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{112,138}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>map4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,73},{65,53}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,53}}</string>
                <key>sourceSize</key>
                <string>{73,55}</string>
            </dict>
            <key>map4-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,121},{58,42}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{58,42}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>map4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{108,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{108,88}}</string>
                <key>sourceSize</key>
                <string>{112,92}</string>
            </dict>
            <key>map4-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,142},{102,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{102,52}}</string>
                <key>sourceSize</key>
                <string>{102,62}</string>
            </dict>
            <key>map4-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,165},{57,39}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,39}}</string>
                <key>sourceSize</key>
                <string>{57,43}</string>
            </dict>
            <key>map4-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{127,69}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{127,69}}</string>
                <key>sourceSize</key>
                <string>{139,75}</string>
            </dict>
            <key>map4-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,73},{61,46}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{61,46}}</string>
                <key>sourceSize</key>
                <string>{71,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MAP04_1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f27626796fffc50b09800c049c6e91f8$</string>
            <key>textureFileName</key>
            <string>MAP04_1.png</string>
        </dict>
    </dict>
</plist>
