<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map-001.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,244},{305,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,166}}</string>
                <key>sourceSize</key>
                <string>{305,166}</string>
            </dict>
            <key>map-002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{171,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,105}}</string>
                <key>sourceSize</key>
                <string>{171,105}</string>
            </dict>
            <key>map-003.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,412},{96,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,37}}</string>
                <key>sourceSize</key>
                <string>{96,37}</string>
            </dict>
            <key>map-004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{474,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,240}}</string>
                <key>sourceSize</key>
                <string>{474,240}</string>
            </dict>
            <key>map-005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{83,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,108}}</string>
                <key>sourceSize</key>
                <string>{83,108}</string>
            </dict>
            <key>map-006.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,323},{56,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,41}}</string>
                <key>sourceSize</key>
                <string>{56,41}</string>
            </dict>
            <key>map-007.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,287},{67,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,34}}</string>
                <key>sourceSize</key>
                <string>{67,34}</string>
            </dict>
            <key>map-008.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,58},{61,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,27}}</string>
                <key>sourceSize</key>
                <string>{61,27}</string>
            </dict>
            <key>map-009.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,161},{40,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,19}}</string>
                <key>sourceSize</key>
                <string>{40,19}</string>
            </dict>
            <key>map-010.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,366},{33,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>map-011.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,323},{53,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,34}}</string>
                <key>sourceSize</key>
                <string>{53,34}</string>
            </dict>
            <key>map-012.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{54,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,32}}</string>
                <key>sourceSize</key>
                <string>{54,32}</string>
            </dict>
            <key>map-013.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,121},{27,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,20}}</string>
                <key>sourceSize</key>
                <string>{27,20}</string>
            </dict>
            <key>map-014.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,143},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>map-015.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,203},{18,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,12}}</string>
                <key>sourceSize</key>
                <string>{18,12}</string>
            </dict>
            <key>map-016.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,244},{81,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,41}}</string>
                <key>sourceSize</key>
                <string>{81,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_1.png</string>
            <key>size</key>
            <string>{512,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a554dce537db38304768dfe501a60f0$</string>
            <key>textureFileName</key>
            <string>map_1.png</string>
        </dict>
    </dict>
</plist>
