<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yishitai-000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{223,164}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{223,164}}</string>
                <key>sourceSize</key>
                <string>{231,166}</string>
            </dict>
            <key>yishitai-002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{33,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{33,44}}</string>
                <key>sourceSize</key>
                <string>{39,50}</string>
            </dict>
            <key>yishitai-003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{35,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{35,44}}</string>
                <key>sourceSize</key>
                <string>{39,50}</string>
            </dict>
            <key>yishitai-004.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{25,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{25,44}}</string>
                <key>sourceSize</key>
                <string>{39,50}</string>
            </dict>
            <key>yishitai-005.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,168},{90,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,29}}</string>
                <key>sourceSize</key>
                <string>{92,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yishitai_1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d1fc79a37bc827b52d5fa6cf2b7c958$</string>
            <key>textureFileName</key>
            <string>yishitai_1.png</string>
        </dict>
    </dict>
</plist>
