<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Z01-045.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,232},{28,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,94}}</string>
                <key>sourceSize</key>
                <string>{28,94}</string>
            </dict>
            <key>Z01-046.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,328},{28,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,86}}</string>
                <key>sourceSize</key>
                <string>{28,86}</string>
            </dict>
            <key>Z01-047.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,459},{27,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,77}}</string>
                <key>sourceSize</key>
                <string>{27,77}</string>
            </dict>
            <key>Z01-048.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,504},{26,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,61}}</string>
                <key>sourceSize</key>
                <string>{26,61}</string>
            </dict>
            <key>Z01-113.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,457},{113,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,51}}</string>
                <key>sourceSize</key>
                <string>{113,51}</string>
            </dict>
            <key>Z01-114.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,341},{123,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,56}}</string>
                <key>sourceSize</key>
                <string>{123,56}</string>
            </dict>
            <key>Z01-115.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,399},{118,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,56}}</string>
                <key>sourceSize</key>
                <string>{118,56}</string>
            </dict>
            <key>Z01-116.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,348},{121,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,51}}</string>
                <key>sourceSize</key>
                <string>{121,51}</string>
            </dict>
            <key>Z01-117.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,348},{118,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,65}}</string>
                <key>sourceSize</key>
                <string>{118,65}</string>
            </dict>
            <key>Z01-132.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{211,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,155}}</string>
                <key>sourceSize</key>
                <string>{211,155}</string>
            </dict>
            <key>Z01-133.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,159},{207,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,182}}</string>
                <key>sourceSize</key>
                <string>{207,182}</string>
            </dict>
            <key>Z01-134.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,343},{194,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,152}}</string>
                <key>sourceSize</key>
                <string>{194,152}</string>
            </dict>
            <key>Z01-149.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{192,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,156}}</string>
                <key>sourceSize</key>
                <string>{192,156}</string>
            </dict>
            <key>Z01-150.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{201,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,190}}</string>
                <key>sourceSize</key>
                <string>{201,190}</string>
            </dict>
            <key>Z01-151.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,195},{189,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,151}}</string>
                <key>sourceSize</key>
                <string>{189,151}</string>
            </dict>
            <key>Z01-166.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,196},{182,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,143}}</string>
                <key>sourceSize</key>
                <string>{182,143}</string>
            </dict>
            <key>Z01-167.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{207,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,187}}</string>
                <key>sourceSize</key>
                <string>{207,187}</string>
            </dict>
            <key>Z01-168.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{194,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,152}}</string>
                <key>sourceSize</key>
                <string>{194,152}</string>
            </dict>
            <key>Z01-202.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{233,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,228}}</string>
                <key>sourceSize</key>
                <string>{233,228}</string>
            </dict>
            <key>Z01-203.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,191},{194,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,194}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>Z01-204.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,2},{191,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,197}}</string>
                <key>sourceSize</key>
                <string>{191,197}</string>
            </dict>
            <key>Z01-216.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,481},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>Z01-218.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,341},{63,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,67}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>Z01-219.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,410},{69,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,70}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>Z01-220.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,532},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Z01-221.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,468},{85,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,87}}</string>
                <key>sourceSize</key>
                <string>{85,87}</string>
            </dict>
            <key>Z01-222.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,387},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>Z01-223.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,401},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>Z01-224.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,491},{97,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,92}}</string>
                <key>sourceSize</key>
                <string>{97,92}</string>
            </dict>
            <key>Z01-225.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,387},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>Z01-226.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,416},{41,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,28}}</string>
                <key>sourceSize</key>
                <string>{41,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Z01_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59352c0ab8f5580d8079e4875cb52289$</string>
            <key>textureFileName</key>
            <string>Z01_2.png</string>
        </dict>
    </dict>
</plist>
