<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Z03-116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{200,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,91}}</string>
                <key>sourceSize</key>
                <string>{200,91}</string>
            </dict>
            <key>Z03-117.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,597},{155,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,86}}</string>
                <key>sourceSize</key>
                <string>{155,86}</string>
            </dict>
            <key>Z03-118.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,597},{159,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,73}}</string>
                <key>sourceSize</key>
                <string>{159,73}</string>
            </dict>
            <key>Z03-119.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,754},{146,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,40}}</string>
                <key>sourceSize</key>
                <string>{146,40}</string>
            </dict>
            <key>Z03-122.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,284},{92,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,65}}</string>
                <key>sourceSize</key>
                <string>{92,65}</string>
            </dict>
            <key>Z03-123.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,411},{189,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,87}}</string>
                <key>sourceSize</key>
                <string>{189,87}</string>
            </dict>
            <key>Z03-124.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,807},{188,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,57}}</string>
                <key>sourceSize</key>
                <string>{188,57}</string>
            </dict>
            <key>Z03-125.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,974},{174,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,47}}</string>
                <key>sourceSize</key>
                <string>{174,47}</string>
            </dict>
            <key>Z03-126.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,255},{103,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,47}}</string>
                <key>sourceSize</key>
                <string>{103,47}</string>
            </dict>
            <key>Z03-127.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,902},{119,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,123}}</string>
                <key>sourceSize</key>
                <string>{119,123}</string>
            </dict>
            <key>Z03-128.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,255},{109,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,79}}</string>
                <key>sourceSize</key>
                <string>{109,79}</string>
            </dict>
            <key>Z03-129.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,871},{114,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,135}}</string>
                <key>sourceSize</key>
                <string>{114,135}</string>
            </dict>
            <key>Z03-130.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,378},{71,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,132}}</string>
                <key>sourceSize</key>
                <string>{71,132}</string>
            </dict>
            <key>Z03-131.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{127,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,98}}</string>
                <key>sourceSize</key>
                <string>{127,98}</string>
            </dict>
            <key>Z03-132.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,126},{68,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,77}}</string>
                <key>sourceSize</key>
                <string>{68,77}</string>
            </dict>
            <key>Z03-133.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,533},{119,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,54}}</string>
                <key>sourceSize</key>
                <string>{119,54}</string>
            </dict>
            <key>Z03-134.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,215}}</string>
                <key>sourceSize</key>
                <string>{144,215}</string>
            </dict>
            <key>Z03-135.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,807},{144,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,185}}</string>
                <key>sourceSize</key>
                <string>{144,185}</string>
            </dict>
            <key>Z03-136.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,602},{85,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,185}}</string>
                <key>sourceSize</key>
                <string>{85,185}</string>
            </dict>
            <key>Z03-137.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,2},{52,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,150}}</string>
                <key>sourceSize</key>
                <string>{52,150}</string>
            </dict>
            <key>Z03-138.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,131},{102,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,122}}</string>
                <key>sourceSize</key>
                <string>{102,122}</string>
            </dict>
            <key>Z03-139.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{78,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,122}}</string>
                <key>sourceSize</key>
                <string>{78,122}</string>
            </dict>
            <key>Z03-140.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,721},{106,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,135}}</string>
                <key>sourceSize</key>
                <string>{106,135}</string>
            </dict>
            <key>Z03-141.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,284},{106,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,85}}</string>
                <key>sourceSize</key>
                <string>{106,85}</string>
            </dict>
            <key>Z03-142.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{131,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,193}}</string>
                <key>sourceSize</key>
                <string>{131,193}</string>
            </dict>
            <key>Z03-143.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,732},{131,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,137}}</string>
                <key>sourceSize</key>
                <string>{131,137}</string>
            </dict>
            <key>Z03-144.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,582},{123,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,137}}</string>
                <key>sourceSize</key>
                <string>{123,137}</string>
            </dict>
            <key>Z03-145.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,533},{47,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,133}}</string>
                <key>sourceSize</key>
                <string>{47,133}</string>
            </dict>
            <key>Z03-146.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,789},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>Z03-147.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,188},{151,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,103}}</string>
                <key>sourceSize</key>
                <string>{151,103}</string>
            </dict>
            <key>Z03-148.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,589},{141,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,111}}</string>
                <key>sourceSize</key>
                <string>{141,111}</string>
            </dict>
            <key>Z03-149.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,754},{142,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,88}}</string>
                <key>sourceSize</key>
                <string>{142,88}</string>
            </dict>
            <key>Z03-150.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,411},{184,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,141}}</string>
                <key>sourceSize</key>
                <string>{184,141}</string>
            </dict>
            <key>Z03-151.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{184,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,112}}</string>
                <key>sourceSize</key>
                <string>{184,112}</string>
            </dict>
            <key>Z03-152.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,193},{184,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,112}}</string>
                <key>sourceSize</key>
                <string>{184,112}</string>
            </dict>
            <key>Z03-153.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,366},{99,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,106}}</string>
                <key>sourceSize</key>
                <string>{99,106}</string>
            </dict>
            <key>Z03-154.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,371},{114,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,115}}</string>
                <key>sourceSize</key>
                <string>{114,115}</string>
            </dict>
            <key>Z03-155.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,488},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>Z03-157.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,2},{146,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,133}}</string>
                <key>sourceSize</key>
                <string>{146,133}</string>
            </dict>
            <key>Z03-158.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,871},{91,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,136}}</string>
                <key>sourceSize</key>
                <string>{91,136}</string>
            </dict>
            <key>Z03-159.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,379},{133,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,152}}</string>
                <key>sourceSize</key>
                <string>{133,152}</string>
            </dict>
            <key>Z03-160.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,150},{132,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,84}}</string>
                <key>sourceSize</key>
                <string>{132,84}</string>
            </dict>
            <key>Z03-161.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,219},{190,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,183}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>Z03-162.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{189,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,149}}</string>
                <key>sourceSize</key>
                <string>{189,149}</string>
            </dict>
            <key>Z03-163.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{189,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,140}}</string>
                <key>sourceSize</key>
                <string>{189,140}</string>
            </dict>
            <key>Z03-164.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,150},{131,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,76}}</string>
                <key>sourceSize</key>
                <string>{131,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Z03_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd3ca4177390afa51ee93c1fbd4870e8$</string>
            <key>textureFileName</key>
            <string>Z03_2.png</string>
        </dict>
    </dict>
</plist>
