<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>z04-114.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,329},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>z04-115.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,290},{38,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,27}}</string>
                <key>sourceSize</key>
                <string>{38,27}</string>
            </dict>
            <key>z04-116.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,360},{45,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,31}}</string>
                <key>sourceSize</key>
                <string>{47,31}</string>
            </dict>
            <key>z04-117.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,233},{11,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,31}}</string>
                <key>sourceSize</key>
                <string>{11,31}</string>
            </dict>
            <key>z04-118.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,317},{41,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,16}}</string>
                <key>sourceSize</key>
                <string>{41,16}</string>
            </dict>
            <key>z04-119.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,266},{49,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,16}}</string>
                <key>sourceSize</key>
                <string>{49,16}</string>
            </dict>
            <key>z04-120.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,206},{25,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,13}}</string>
                <key>sourceSize</key>
                <string>{25,13}</string>
            </dict>
            <key>z04-121.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,91},{39,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,15}}</string>
                <key>sourceSize</key>
                <string>{39,15}</string>
            </dict>
            <key>z04-122.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,467},{40,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,16}}</string>
                <key>sourceSize</key>
                <string>{40,16}</string>
            </dict>
            <key>z04-123.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,176},{28,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,13}}</string>
                <key>sourceSize</key>
                <string>{28,13}</string>
            </dict>
            <key>z04-124.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,407},{24,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,35}}</string>
                <key>sourceSize</key>
                <string>{24,35}</string>
            </dict>
            <key>z04-125.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,454},{26,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,35}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>z04-126.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{34,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{34,41}}</string>
                <key>sourceSize</key>
                <string>{34,43}</string>
            </dict>
            <key>z04-127.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,360},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>z04-128.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,478},{27,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,32}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>z04-129.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,215},{34,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{34,39}}</string>
                <key>sourceSize</key>
                <string>{36,41}</string>
            </dict>
            <key>z04-130.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,478},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>z04-131.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,335},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>z04-132.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,290},{37,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{37,32}}</string>
                <key>sourceSize</key>
                <string>{39,32}</string>
            </dict>
            <key>z04-133.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,444},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>z04-134.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,256},{34,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,25}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>z04-135.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,407},{45,27}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{45,27}}</string>
                <key>sourceSize</key>
                <string>{49,31}</string>
            </dict>
            <key>z04-147.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{64,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,46}}</string>
                <key>sourceSize</key>
                <string>{64,46}</string>
            </dict>
            <key>z04-148.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{80,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,71}}</string>
                <key>sourceSize</key>
                <string>{80,71}</string>
            </dict>
            <key>z04-149.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,215},{93,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,73}}</string>
                <key>sourceSize</key>
                <string>{93,73}</string>
            </dict>
            <key>z04-150.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{105,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,73}}</string>
                <key>sourceSize</key>
                <string>{105,73}</string>
            </dict>
            <key>z04-151.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,173},{111,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,77}}</string>
                <key>sourceSize</key>
                <string>{111,77}</string>
            </dict>
            <key>z04-152.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,91},{111,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,80}}</string>
                <key>sourceSize</key>
                <string>{111,80}</string>
            </dict>
            <key>z04-153.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,252},{110,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,81}}</string>
                <key>sourceSize</key>
                <string>{110,81}</string>
            </dict>
            <key>z04-154.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,132},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>z04-157.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,467},{41,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,28}}</string>
                <key>sourceSize</key>
                <string>{41,28}</string>
            </dict>
            <key>z04-158.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{25,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,184}}</string>
                <key>sourceSize</key>
                <string>{25,184}</string>
            </dict>
            <key>z04-159.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,187},{98,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,184}}</string>
                <key>sourceSize</key>
                <string>{98,184}</string>
            </dict>
            <key>z04-160.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,184}}</string>
                <key>sourceSize</key>
                <string>{188,184}</string>
            </dict>
            <key>z04-161.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{188,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,183}}</string>
                <key>sourceSize</key>
                <string>{188,183}</string>
            </dict>
            <key>z04-162.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{121,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,87}}</string>
                <key>sourceSize</key>
                <string>{121,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Z04_2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83f9b3d02f5c1e7939a795604e06ee5b$</string>
            <key>textureFileName</key>
            <string>Z04_2.png</string>
        </dict>
    </dict>
</plist>
