<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Z05-133.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,125}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>Z05-134.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{107,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,123}}</string>
                <key>sourceSize</key>
                <string>{107,123}</string>
            </dict>
            <key>Z05-135.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{115,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,122}}</string>
                <key>sourceSize</key>
                <string>{115,122}</string>
            </dict>
            <key>Z05-136.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,326},{47,6}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{47,6}}</string>
                <key>sourceSize</key>
                <string>{55,6}</string>
            </dict>
            <key>Z05-137.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,187},{54,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,26}}</string>
                <key>sourceSize</key>
                <string>{54,26}</string>
            </dict>
            <key>Z05-138.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{56,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,92}}</string>
                <key>sourceSize</key>
                <string>{56,96}</string>
            </dict>
            <key>Z05-139.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,378},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>Z05-140.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,368},{43,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,64}}</string>
                <key>sourceSize</key>
                <string>{43,64}</string>
            </dict>
            <key>Z05-141.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,439},{43,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,64}}</string>
                <key>sourceSize</key>
                <string>{43,64}</string>
            </dict>
            <key>Z05-142.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,236},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>Z05-143.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,294},{54,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{54,30}}</string>
                <key>sourceSize</key>
                <string>{56,34}</string>
            </dict>
            <key>Z05-144.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,236},{42,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,14}}</string>
                <key>sourceSize</key>
                <string>{42,14}</string>
            </dict>
            <key>Z05-146.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{98,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,83}}</string>
                <key>sourceSize</key>
                <string>{98,83}</string>
            </dict>
            <key>Z05-147.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,129},{105,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,80}}</string>
                <key>sourceSize</key>
                <string>{105,80}</string>
            </dict>
            <key>Z05-148.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,129},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,53}}</string>
                <key>sourceSize</key>
                <string>{56,53}</string>
            </dict>
            <key>Z05-149.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,373},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Z05-150.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,468},{1,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,2}}</string>
                <key>sourceSize</key>
                <string>{1,2}</string>
            </dict>
            <key>Z05-151.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,468},{42,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{42,32}</string>
            </dict>
            <key>Z05-152.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,334},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>Z05-153.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{38,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,35}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>Z05-154.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,326},{56,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{56,26}</string>
            </dict>
            <key>Z05-155.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,378},{88,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,23}}</string>
                <key>sourceSize</key>
                <string>{88,23}</string>
            </dict>
            <key>Z05-156.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,254},{80,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,23}}</string>
                <key>sourceSize</key>
                <string>{80,23}</string>
            </dict>
            <key>Z05-157.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,334},{35,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,23}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>Z05-158.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,472},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>Z05-159.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,336},{76,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,35}}</string>
                <key>sourceSize</key>
                <string>{76,35}</string>
            </dict>
            <key>Z05-160.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,102},{76,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,25}}</string>
                <key>sourceSize</key>
                <string>{76,25}</string>
            </dict>
            <key>Z05-161.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,102},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>Z05-162.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,252},{72,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,34}}</string>
                <key>sourceSize</key>
                <string>{72,34}</string>
            </dict>
            <key>Z05-163.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,254},{75,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,33}}</string>
                <key>sourceSize</key>
                <string>{75,33}</string>
            </dict>
            <key>Z05-164.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,236},{56,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,44}}</string>
                <key>sourceSize</key>
                <string>{56,44}</string>
            </dict>
            <key>Z05-165.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,187},{23,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,42}}</string>
                <key>sourceSize</key>
                <string>{23,42}</string>
            </dict>
            <key>Z05-166.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,461},{36,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,49}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>Z05-167.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,444},{65,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,47}}</string>
                <key>sourceSize</key>
                <string>{65,47}</string>
            </dict>
            <key>Z05-168.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,373},{69,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,24}}</string>
                <key>sourceSize</key>
                <string>{69,24}</string>
            </dict>
            <key>Z05-170.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,215},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>Z05-171.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,236},{56,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,16}}</string>
                <key>sourceSize</key>
                <string>{56,16}</string>
            </dict>
            <key>Z05-172.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,187},{47,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,27}}</string>
                <key>sourceSize</key>
                <string>{47,27}</string>
            </dict>
            <key>Z05-173.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,461},{36,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,49}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>Z05-174.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,434},{63,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,31}}</string>
                <key>sourceSize</key>
                <string>{63,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Z05_2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93d76c675525eab69c6fb9d64f9412c0$</string>
            <key>textureFileName</key>
            <string>Z05_2.png</string>
        </dict>
    </dict>
</plist>
