<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Z05-145.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{60,68}</string>
            </dict>
            <key>Z05-169.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{27,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,16}}</string>
                <key>sourceSize</key>
                <string>{27,16}</string>
            </dict>
            <key>Z05-175.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{66,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,44}}</string>
                <key>sourceSize</key>
                <string>{66,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Z05_3.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9caaf3bb9e23d6c2945ce3990062d0d$</string>
            <key>textureFileName</key>
            <string>Z05_3.png</string>
        </dict>
    </dict>
</plist>
