<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Z07-120.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1113},{113,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,195}}</string>
                <key>sourceSize</key>
                <string>{113,195}</string>
            </dict>
            <key>Z07-121.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{275,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,148}}</string>
                <key>sourceSize</key>
                <string>{275,148}</string>
            </dict>
            <key>Z07-122.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1238},{226,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,110}}</string>
                <key>sourceSize</key>
                <string>{226,110}</string>
            </dict>
            <key>Z07-123.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,386},{258,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,115}}</string>
                <key>sourceSize</key>
                <string>{258,115}</string>
            </dict>
            <key>Z07-124.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1340},{217,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,191}}</string>
                <key>sourceSize</key>
                <string>{217,191}</string>
            </dict>
            <key>Z07-125.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,911},{200,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,203}}</string>
                <key>sourceSize</key>
                <string>{200,203}</string>
            </dict>
            <key>Z07-126.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,831},{235,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,78}}</string>
                <key>sourceSize</key>
                <string>{235,78}</string>
            </dict>
            <key>Z07-127.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,415},{228,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,84}}</string>
                <key>sourceSize</key>
                <string>{228,84}</string>
            </dict>
            <key>Z07-128.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,605},{119,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,82}}</string>
                <key>sourceSize</key>
                <string>{119,82}</string>
            </dict>
            <key>Z07-129.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1608},{180,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,240}}</string>
                <key>sourceSize</key>
                <string>{180,240}</string>
            </dict>
            <key>Z07-130.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1854},{128,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,189}}</string>
                <key>sourceSize</key>
                <string>{128,189}</string>
            </dict>
            <key>Z07-131.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,752},{130,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,89}}</string>
                <key>sourceSize</key>
                <string>{130,89}</string>
            </dict>
            <key>Z07-132.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,250},{230,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,112}}</string>
                <key>sourceSize</key>
                <string>{230,112}</string>
            </dict>
            <key>Z07-133.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,252},{2,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,3}}</string>
                <key>sourceSize</key>
                <string>{2,3}</string>
            </dict>
            <key>Z07-134.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1750},{207,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,187}}</string>
                <key>sourceSize</key>
                <string>{207,187}</string>
            </dict>
            <key>Z07-135.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,911},{116,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,173}}</string>
                <key>sourceSize</key>
                <string>{116,173}</string>
            </dict>
            <key>Z07-136.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1113},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,171}}</string>
                <key>sourceSize</key>
                <string>{88,171}</string>
            </dict>
            <key>Z07-137.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,829},{80,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,87}}</string>
                <key>sourceSize</key>
                <string>{80,87}</string>
            </dict>
            <key>Z07-138.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,922},{83,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,50}}</string>
                <key>sourceSize</key>
                <string>{83,50}</string>
            </dict>
            <key>Z07-139.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,911},{85,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,46}}</string>
                <key>sourceSize</key>
                <string>{85,46}</string>
            </dict>
            <key>Z07-140.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1625},{174,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,236}}</string>
                <key>sourceSize</key>
                <string>{174,236}</string>
            </dict>
            <key>Z07-141.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,1238},{214,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,100}}</string>
                <key>sourceSize</key>
                <string>{214,100}</string>
            </dict>
            <key>Z07-142.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,2},{226,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,198}}</string>
                <key>sourceSize</key>
                <string>{226,198}</string>
            </dict>
            <key>Z07-143.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,702},{295,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,127}}</string>
                <key>sourceSize</key>
                <string>{295,127}</string>
            </dict>
            <key>Z07-144.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,503},{251,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,247}}</string>
                <key>sourceSize</key>
                <string>{251,247}</string>
            </dict>
            <key>Z07-145.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1533},{193,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,215}}</string>
                <key>sourceSize</key>
                <string>{193,215}</string>
            </dict>
            <key>Z07-146.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1336},{162,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,202}}</string>
                <key>sourceSize</key>
                <string>{162,202}</string>
            </dict>
            <key>Z07-147.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1625},{227,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,137}}</string>
                <key>sourceSize</key>
                <string>{227,137}</string>
            </dict>
            <key>Z07-148.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,152},{261,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,210}}</string>
                <key>sourceSize</key>
                <string>{261,210}</string>
            </dict>
            <key>Z07-149.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1790},{147,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,193}}</string>
                <key>sourceSize</key>
                <string>{147,193}</string>
            </dict>
            <key>Z07-150.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,482},{82,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,121}}</string>
                <key>sourceSize</key>
                <string>{82,121}</string>
            </dict>
            <key>Z07-151.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,269},{283,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,115}}</string>
                <key>sourceSize</key>
                <string>{283,115}</string>
            </dict>
            <key>Z07-152.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1863},{149,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,176}}</string>
                <key>sourceSize</key>
                <string>{149,176}</string>
            </dict>
            <key>Z07-153.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,152},{18,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,237}}</string>
                <key>sourceSize</key>
                <string>{18,237}</string>
            </dict>
            <key>Z07-154.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1203},{99,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,114}}</string>
                <key>sourceSize</key>
                <string>{99,114}</string>
            </dict>
            <key>Z07-155.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1908},{202,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,135}}</string>
                <key>sourceSize</key>
                <string>{202,135}</string>
            </dict>
            <key>Z07-156.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2},{18,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,169}}</string>
                <key>sourceSize</key>
                <string>{18,169}</string>
            </dict>
            <key>Z07-157.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,752},{75,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,99}}</string>
                <key>sourceSize</key>
                <string>{75,99}</string>
            </dict>
            <key>Z07-158.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,252},{10,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,8}}</string>
                <key>sourceSize</key>
                <string>{10,8}</string>
            </dict>
            <key>Z07-159.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,152},{17,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,98}}</string>
                <key>sourceSize</key>
                <string>{17,98}</string>
            </dict>
            <key>Z07-160.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1350},{220,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,256}}</string>
                <key>sourceSize</key>
                <string>{220,256}</string>
            </dict>
            <key>Z07-161.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{265,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,139}}</string>
                <key>sourceSize</key>
                <string>{265,139}</string>
            </dict>
            <key>Z07-162.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1700},{206,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,128}}</string>
                <key>sourceSize</key>
                <string>{206,128}</string>
            </dict>
            <key>Z07-163.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,831},{236,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,89}}</string>
                <key>sourceSize</key>
                <string>{236,89}</string>
            </dict>
            <key>Z07-164.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1362},{261,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,360}}</string>
                <key>sourceSize</key>
                <string>{261,360}</string>
            </dict>
            <key>Z07-165.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,975},{261,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,358}}</string>
                <key>sourceSize</key>
                <string>{261,358}</string>
            </dict>
            <key>Z07-168.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,505},{317,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,195}}</string>
                <key>sourceSize</key>
                <string>{317,195}</string>
            </dict>
            <key>Z07-169.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,975},{385,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,277}}</string>
                <key>sourceSize</key>
                <string>{385,277}</string>
            </dict>
            <key>Z07-170.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{501,381}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{501,381}}</string>
                <key>sourceSize</key>
                <string>{557,381}</string>
            </dict>
            <key>Z07-171.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,505},{468,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,361}}</string>
                <key>sourceSize</key>
                <string>{468,361}</string>
            </dict>
            <key>Z07-173.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,1533},{165,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,182}}</string>
                <key>sourceSize</key>
                <string>{165,182}</string>
            </dict>
            <key>Z07-174.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1228},{106,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,180}}</string>
                <key>sourceSize</key>
                <string>{106,180}</string>
            </dict>
            <key>Z07-175.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,752},{35,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,141}}</string>
                <key>sourceSize</key>
                <string>{35,141}</string>
            </dict>
            <key>Z07-176.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,230},{18,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,212}}</string>
                <key>sourceSize</key>
                <string>{18,212}</string>
            </dict>
            <key>Z07-177.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,702},{18,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,116}}</string>
                <key>sourceSize</key>
                <string>{18,116}</string>
            </dict>
            <key>Z07-178.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,152},{16,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,73}}</string>
                <key>sourceSize</key>
                <string>{16,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Z07_2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f11c86b3d208862531d602ec9baab99$</string>
            <key>textureFileName</key>
            <string>Z07_2.png</string>
        </dict>
    </dict>
</plist>
