<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MX-000.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,241},{87,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,56}}</string>
                <key>sourceSize</key>
                <string>{87,56}</string>
            </dict>
            <key>MX-001.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,155},{42,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,24}}</string>
                <key>sourceSize</key>
                <string>{42,24}</string>
            </dict>
            <key>MX-002.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{47,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,27}}</string>
                <key>sourceSize</key>
                <string>{47,27}</string>
            </dict>
            <key>MX-003.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,103},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>MX-004.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,51},{50,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,26}}</string>
                <key>sourceSize</key>
                <string>{50,26}</string>
            </dict>
            <key>MX-005.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,236},{88,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,67}}</string>
                <key>sourceSize</key>
                <string>{88,67}</string>
            </dict>
            <key>MX-006.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,166},{88,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,68}}</string>
                <key>sourceSize</key>
                <string>{88,68}</string>
            </dict>
            <key>MX-007.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,162},{108,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,81}}</string>
                <key>sourceSize</key>
                <string>{108,81}</string>
            </dict>
            <key>MX-008.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,77},{108,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,83}}</string>
                <key>sourceSize</key>
                <string>{108,83}</string>
            </dict>
            <key>MX-011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,131}}</string>
                <key>sourceSize</key>
                <string>{192,131}</string>
            </dict>
            <key>MX-012.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{171,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,162}}</string>
                <key>sourceSize</key>
                <string>{171,162}</string>
            </dict>
            <key>MX-013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{155,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,157}}</string>
                <key>sourceSize</key>
                <string>{155,157}</string>
            </dict>
            <key>MX-014.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,245},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>MX-015.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,427},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>MX-016.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,364},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>MX-017.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,427},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>MX-018.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,364},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>MX-019.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,419},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>MX-020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{61,63}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{61,63}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>MX-021.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,292},{63,67}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{63,67}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>MX-022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{65,67}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,67}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>MX-023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{61,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{61,63}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>MX-024.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,299},{63,65}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{63,65}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>MX-025.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,357},{61,65}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{61,65}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>MX-026.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,422},{59,63}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{59,63}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>MX-027.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,420},{61,61}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{61,61}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>MX-028.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,305},{59,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{59,57}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>MX-029.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,364},{53,55}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{53,55}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>MX-030.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,364},{53,53}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{53,53}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>MX-031.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,305},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{57,57}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>MX-035.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,166},{73,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,92}}</string>
                <key>sourceSize</key>
                <string>{73,92}</string>
            </dict>
            <key>MX-036.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{73,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,109}}</string>
                <key>sourceSize</key>
                <string>{73,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MXian_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd2369d39b406383c6adcb6c1c36b24e$</string>
            <key>textureFileName</key>
            <string>MXian_1.png</string>
        </dict>
    </dict>
</plist>
